USE [master]
GO
/****** Object:  Database [EmployeeDB]    Script Date: 05/11/2015 12:12:48 ******/
CREATE DATABASE [EmployeeDB] ON  PRIMARY 
( NAME = N'EmployeeDB', FILENAME = N'E:\SEIP Training\HomePractice\EmployeeDB.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmployeeDB_log', FILENAME = N'E:\SEIP Training\HomePractice\EmployeeDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeDB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 05/11/2015 12:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Address] [varchar](300) NULL,
	[Email] [varchar](80) NOT NULL,
	[Sallary] [float] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Employee] ON [dbo].[Employee] 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON
INSERT [dbo].[Employee] ([Id], [Name], [Address], [Email], [Sallary]) VALUES (1, N'Pavel', N'Laxmipuree1', N'mizan12345@gmail.com', 10000000)
INSERT [dbo].[Employee] ([Id], [Name], [Address], [Email], [Sallary]) VALUES (2, N'Pavel', N'Laxmipuree', N'mizan10@gmail.com', 10000)
INSERT [dbo].[Employee] ([Id], [Name], [Address], [Email], [Sallary]) VALUES (4, N'Mizan', N'Laxmipuree', N'mizan@gmail.com', 10000000)
SET IDENTITY_INSERT [dbo].[Employee] OFF
